// font

=font-face($family, $path, $svg, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url("#{$path}.eot")
    src: url("#{$path}.eot?#iefix") format("embedded-opentype"), url("#{$path}.woff") format("woff"), url("#{$path}.ttf") format("truetype"), url("#{$path}.svg##{$svg}") format("svg")
    font-weight: $weight
    font-style: $style

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300")
+font-face("Avenir LT Std", "../font/AvenirLTStd-Book", "AvenirLTStd-Book")
+font-face("Montserrat Bold", "../font/Montserrat-Bold", "Montserrat-Bold")
+font-face("Montserrat Regular", "../font/Montserrat-Regular", "Montserrat-Regular")

// mixins

=border-radius ($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=box-sizing ($type: border-box)
  -webkit-box-sizing: $type
  -moz-box-sizing: $type
  -o-box-sizing: $type
  -ms-box-sizing: $type
  box-sizing: $type

=transition ($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

=transform ($transforms)
  -moz-transform: $transforms
  -o-transform: $transforms
  -ms-transform: $transforms
  -webkit-transform: $transforms
  transform: $transforms

=user-select ($setting: none)
  -webkit-user-select: $setting
  -moz-user-select: $setting
  -ms-user-select: $setting
  -o-user-select: $setting
  user-select: $setting

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

=transform-style ($style)
  -webkit-transform-style: $style
  -moz-transform-style: $style
  -ms-transform-style: $style
  transform-style: $style

=perspective ($style)
  -webkit-perspective: $style 
  -moz-perspective: $style 
  -ms-perspective: $style 
  perspective: $style

// main

body
  margin: 0
  height: inherit
  background-color: #f7f7f9
  width: 100%
  &.hidden
    overflow: hidden

.body
  &.hidden
    -webkit-filter: blur(3px)

// common

p, h1, h3, h4, ul
  margin: 0

ul
  list-style: none
  padding-left: 0

input, select, textarea, button
  outline: none
  border: none

a
  cursor: pointer
  color: #3498db
  font-family: Roboto
  font-size: 14px
  font-weight: 300
  line-height: 16px

h1
  color: #515151
  font-family: "Montserrat Bold"
  font-size: 36px
  font-weight: 400
  line-height: 44px

h4
  color: #515151
  font-family: "Montserrat Bold"
  font-size: 20px
  font-weight: 400
  line-height: 24px

.clear
  &:after
    content: ""
    display: block
    clear: both

label.checkbox
  display: block
  width: 16px
  height: 16px
  background-color: whitesmoke
  border: 1px solid lightgrey
  border-radius: 2px
  padding: 0
  cursor: pointer
  position: relative
  overflow: hidden
  +user-select()
  +box-sizing()
  input[type="checkbox"]
    margin: 0
    position: absolute
    top: 0
    left: 0
    display: none
    cursor: pointer
  input[type="checkbox"]:before
    text-align: center
    color: grey
    font-family: "icomoon"
    content: "\e611"
    font-size: 15px
    position: absolute
    z-index: 10
    top: 0
    left: 0
    width: 15px
    height: 15px
    background-color: whitesmoke
  input[type="checkbox"]:checked
    display: block

.property-box
  position: relative
  display: block
  width: 15px
  margin-left: auto
  margin-right: auto
  +user-select()
  .icon-property
    font-size: 10px
    color: #bbc3c9
    cursor: pointer
    +transition(all, 0.2s, ease-in-out)
    &:hover
      color: #4a4a4a
  .property-container
    z-index: 1
    display: none
    position: absolute
    opacity: 0
    width: 188px
    height: 107px
    top: -6.5px
    left: -11px
    background-color: white
    padding: 6.5px 11px
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.14)
    +box-sizing()
    +border-radius(2px)
    &.active
      display: block
    .icon-property
      color: #4a4a4a !important
    ul
      margin-top: 8px
      display: table
      li
        display: table-row
        height: 31px
        a
          .icon-edit, .icon-view
            display: table-cell
            color: #858d9c
            line-height: 30px
            vertical-align: middle
            +transition(all, 0.2s, ease-in-out)
          .icon-edit
            font-size: 17px
          .icon-view
            font-size: 11px
          .title
            display: table-cell
            vertical-align: middle
            color: #3498db
            font-family: "Avenir LT Std"
            font-size: 14px
            font-weight: 300
            padding-left: 6px
          &:hover
            .icon-view, .icon-edit
              color: #4a4a4a
            .title
              text-decoration: underline

.ok
  color: #44cd7e

.warning
  color: #f5a623

.error
  color: #f14a4a

.button
  display: table-cell
  vertical-align: middle
  text-align: center
  padding-left: 25px
  padding-right: 25px
  height: 38px
  background-color: #52b7f6
  color: white
  font-family: "Roboto"
  font-size: 14px
  font-weight: 400
  line-height: 16px
  text-transform: uppercase
  white-space: nowrap
  cursor: pointer
  +user-select()
  +border-radius(3px)
  +transition(all, 0.2s, ease-in-out)
  &:hover
    background-color: #1a98d6

.simple-button
  width: 86px
  height: 35px
  font-family: "Roboto"
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  text-align: center
  display: table-cell
  vertical-align: middle
  cursor: pointer
  +box-sizing()
  +border-radius(3px)
  +transition(all, 0.2s, ease-in-out)
  &.green
    background-color: #44cd7e
    color: white
    &:hover
      background-color: #1b894a
  &.white
    text-transform: none
    border: 1px solid #d9d9d9
    color: #bebebe
    &:hover
      background-color: #eaeaee

.select-container
  cursor: pointer
  position: relative
  border: 1px solid #e0e0e0
  display: block
  +border-radius(3px)
  select
    cursor: pointer
    height: 35px
    width: 100%
    padding: 6px
    color: #878787
    font-family: "Roboto"
    font-size: 14px
    font-weight: 300
    background-color: white
    +box-sizing()
    option:first-child
      color: #bbc3c9
  .icon-container
    position: absolute
    background-color: white
    height: 100%
    display: block
    top: 0
    right: 0
    font-size: 8px
    color: #8a8a8a
    padding-right: 15px
    cursor: pointer
    +user-select()
    +box-sizing()
    .icon-select-arrow
      display: table-cell
      height: 35px
      vertical-align: middle
      +transition(all, 0.2s, ease-in-out)
  &:hover
    .icon-container
      .icon-select-arrow
        color: #4a4a4a !important

.input-field
  cursor: pointer
  width: 100%
  display: block
  .input-container
    border: 1px solid #e0e0e0
    display: block
    +border-radius(3px)
    input
      padding: 9px
      width: 100%
      color: #878787
      font-family: "Roboto"
      font-size: 14px
      font-weight: 300
      background-color: white
      +box-sizing
      +placeholder
        color: #bbc3c9

.date-field
  cursor: pointer
  border: 1px solid #e0e0e0
  display: table
  width: 100%
  +user-select()
  +border-radius(3px)
  .field-container
    display: table-cell
    input
      height: 35px                
      width: 100%
      padding: 10px
      color: #878787
      font-family: "Roboto"
      font-size: 14px
      font-weight: 300
      +box-sizing()
  .icon-container
    display: table-cell
    vertical-align: middle
    padding-left: 13px
    padding-right: 13px
    text-align: center
    border-left: 1px solid #e0e0e0
    +box-sizing()
    .icon-date
      color: #969696
      font-size: 18px
      +transition(all, 0.2s, ease-in-out)
  &:hover
    .icon-container
      .icon-date
        color: #4a4a4a !important

textarea
  border: 1px solid #e0e0e0
  display: block
  padding: 10px 10px
  color: #878787
  font-family: "Roboto"
  font-size: 14px
  font-weight: 300
  line-height: 23px
  resize: vertical
  +border-radius(3px)
  +box-sizing()
  +placeholder
    color: #bbc3c9

// carcase

.left-panel-container
  position: fixed
  height: 100%
  overflow: hidden
  width: 227px
  background-color: #4b5260
  +transition(all, 0.2s, ease-in-out)
  &.active
    left: 0px
  .left-panel
    overflow-x: hidden
    width: 280px
    height: 100%
    overflow-y: auto
    .logo-container
      position: relative
      height: 75px
      display: table-cell
      vertical-align: middle
      text-align: center
      background-color: #3a404b
      padding-left: 18px
      padding-right: 18px
    .user-container
      height: 103px
      width: 100%
      padding-left: 16px
      padding-right: 16px
      display: table
      padding-bottom: 6px
      +box-sizing()
      .icon-container-wrap
        display: table-cell
        vertical-align: middle
        .icon-container
          width: 56px
          height: 56px
          border: 3px solid #e8f3ff
          position: relative
          +border-radius(50%)
          .note
            position: absolute
            width: 15px
            height: 15px
            background-color: #7ed321
            right: 0px
            bottom: -3px
            +border-radius(50%)
      .info-container
        vertical-align: middle
        display: table-cell
        padding-left: 12px
        color: #e4e4e4
        font-family: "Avenir LT Std"
        header
          font-size: 16px
          font-weight: normal
        p
          margin-top: 4px
          font-size: 13px
          margin-bottom: 0
    .main-nav
      border-top: 1px solid #3c4451
      +box-sizing()
      .link
        height: 87px
        a
          color: #858d9c
          display: table-cell
          height: inherit
          width: 227px
          vertical-align: middle
          text-align: center
          cursor: pointer
          text-decoration: none
          +transition(all, 0.2s, ease-in-out)
          .icon
            position: relative
            display: block
            font-size: 28px
            width: 28px
            margin-left: auto
            margin-right: auto
            &.icon-dashboard
              width: 31px
              font-size: 31px
            &.icon-inquiries
              font-size: 28px
              width: 28px
            &.icon-contacts
              font-size: 28px
              width: 28px
            &.icon-reservation-center
              font-size: 32px
              width: 32px
            &.icon-availability
              font-size: 29px
              width: 29px
            &.icon-properties
              font-size: 27px
              width: 27px
            &.icon-import
              font-size: 26px
              width: 26px
            &.icon-templates
              font-size: 23px
              width: 23px
            .tasks
              position: absolute
              top: -6px
              right: -6px
              width: 22px
              height: 22px
              padding-top: 6px
              background-color: #ff4646
              text-align: center
              color: white
              font-family: "Avenir LT Std"
              font-size: 12px
              font-weight: 300
              +border-radius(50%)
              +box-sizing()
          .title
            display: block
            margin-top: 10px
            font-family: "Montserrat Regular"
            font-size: 12px
            text-transform: uppercase
        &.active a
          background-color: #2d3441
          color: #e5e5e5
          position: relative
          &:after
            content: ""
            display: block
            position: absolute
            right: 0
            top: 25px
            width: 0
            height: 0
            border-style: solid
            border-width: 10px 9px 10px 0
            border-color: transparent #f7f7f9 transparent transparent
        &:hover a
          background-color: #2d3441
          color: #e5e5e5
          position: relative

.left-panel-activator-container
  position: fixed
  left: 0
  top: 60px
  display: none
  z-index: 10
  +transition(all, 0.2s, ease-in-out)
  &.active
    left: 227px
    .left-panel-activator
      .icon-property
        display: none
      .icon-delete
        display: block
  .left-panel-activator
    cursor: pointer
    width: 36px
    height: 36px
    color: #515151
    background-color: white
    border-top: 1px solid #e0e0e0
    border-right: 1px solid #e0e0e0
    border-bottom: 1px solid #e0e0e0
    display: table-cell
    vertical-align: middle
    text-align: center
    +user-select()
    +border-radius(0 3px 3px 0)
    +box-sizing()
    .icon-delete
      display: none
      font-size: 20px
    .icon-property
      font-size: 14px

.main-container
  margin-left: 227px
  .main-header
    height: 75px
    background-color: white
    display: table
    width: 100%
    padding-left: 18px
    padding-right: 20px
    +box-sizing()
    .search-container
      height: inherit
      display: table-cell
      vertical-align: middle
      .search
        max-width: 517px
        position: relative
        input
          color: #878787
          display: block
          width: 100%
          height: 35px
          border: 1px solid #e0e0e0
          border-radius: 3px
          padding-left: 10px
          padding-right: 40px
          font-family: "Roboto"
          font-size: 14px
          font-weight: 300
          line-height: 20px
          +box-sizing()
        .icon-search
          color: #a2a2a2
          font-size: 18px
          height: 16px
          top: 50%
          margin-top: -9px
          position: absolute
          right: 13px
    .user-container
      height: inherit
      display: table-cell
      vertical-align: middle
      text-align: right
      .user
        width: 204px
        float: right
        height: 38px
        padding-left: 18px
        cursor: pointer
        border: 1px solid transparent
        position: relative
        +box-sizing()
        +user-select()
        +border-radius(5px)
        +transition(all, 0.2s, ease-in-out)
        .user-info
          height: inherit
          .title
            display: table-cell
            height: inherit
            color: #515151
            font-family: "Avenir LT Std"
            font-size: 16px
            font-weight: 300
            vertical-align: middle
            text-decoration: none
          .icon-setting
            display: table-cell
            height: inherit
            padding-left: 8px
            font-size: 18px 
            color: #858d9c
            vertical-align: middle
            text-decoration: none
            +transition(all, 0.2s, ease-in-out)
        .user-settings
          display: none
          opacity: 0
          width: 204px
          padding: 9px 18px
          position: absolute
          left: -1px
          top: 100%
          background-color: white
          border: 1px solid #e9e9e9
          +box-sizing()
          +border-radius(0 0 5px 5px)
          ul
            li
              padding-top: 6px
              padding-bottom: 6px
              text-align: left
              a
                text-decoration: none
                font-family: "Avenir LT Std"
                font-size: 14px
                &:hover
                  text-decoration: underline
        &:hover
          border: 1px solid #e9e9e9
        &.active
          border: 1px solid #e9e9e9
          +border-radius(5px 5px 0 0)
          .icon-setting
            color: #4a4a4a !important
  .main-content
    padding: 17px 18px
    +box-sizing()
    .main-title
      p
        margin-top: 12px
        color: #656565
        font-family: "Avenir LT Std"
        font-size: 16px
        font-weight: 300
        line-height: 19px
    .menu-container
      margin-top: 30px
      .menu
        margin-left: auto
        margin-right: auto
        height: 32px
        display: table
        border: 1px solid #e0e0e0
        +user-select()
        +border-radius(3px)
        +box-sizing()
        a
          display: table-cell
          vertical-align: middle
          text-align: center
          color: #656565
          border-left: 1px solid #e0e0e0
          padding-left: 15px
          padding-right: 15px
          padding-top: 7px
          padding-bottom: 5px
          font-family: "Roboto"
          font-weight: 300
          font-size: 14px
          text-decoration: none
          +box-sizing()
          +transition(all, 0.2s, ease-in-out)
          &:first-child
            border-left: none
          &.active
            background-color: #ededf1
            color: #515151
          &:hover
            background-color: #ededf1

article
  padding-bottom: 30px
  background-color: white
  border: 1px solid #d3d7df
  +box-sizing()
  +border-radius(3px)
  header
    width: 100%
    padding-left: 20px
    border-top: 1px solid #ddd
    +box-sizing()
    &:first-child
      border-top: none
    h4
      width: 100%
      height: 67px
      display: table-cell
      vertical-align: middle

// personal information

.personal-information-wrap
  .personal-information-container
    padding-right: 11.5px
    float: left
    width: 460px
    .personal-information
      padding-bottom: 30px
      background-color: white
      border: 1px solid #d3d7df
      +box-sizing()
      +border-radius(3px)
      .information
        width: 100%
        padding: 10px
        border-top: 1px solid #ddd
        +box-sizing()
        tr
          height: 31px
          td
            font-size: 14px
            &:first-child
              width: 110px
              text-align: right
              color: #515151
              font-family: "Montserrat Bold"
              vertical-align: middle
            &:last-child
              text-align: left
              color: #878787
              font-family: "Roboto"
              font-weight: 300
              padding-left: 28px
              vertical-align: middle
      .button-wrap
        padding-left: 20px
        padding-right: 20px
  .contact-reservations-container
    margin-left: 484px
    min-width: 300px
    .contact-reservations
      overflow-y: hidden
      padding-bottom: 30px
      background-color: white
      border: 1px solid #d3d7df
      +box-sizing()
      +border-radius(3px)
      .contact-reservation
        border-collapse: collapse
        width: 100%
        border-top: 1px solid #ddd
        border-bottom: 1px solid #ddd
        th, td
          border-left: 1px solid rgba(221, 221, 221, 0.47)
        th:first-child, td:first-child, th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3)
          border-left: none
        thead
          tr
            height: 64px
            th
              color: #515151
              font-family: "Montserrat Regular"
              font-size: 14px
              font-weight: 400
              text-align: left
              padding-left: 18px
              padding-top: 8px
              +box-sizing()
        tbody
          tr
            height: 44px
            &:nth-child(2n+1)
              background-color: #f7f7f9
            &:nth-child(1)
              background-color: #eaeaee
            td
              color: #575757
              font-family: "Roboto"
              padding-left: 18px
              font-size: 14px
              font-weight: 300
              line-height: 16px
              +box-sizing()
              &:nth-child(2)
                padding-left: 0

.pagintaion-container
  padding-top: 23px
  padding-left: 15px
  +box-sizing()
  .pagination
    width: 255px
    height: 39px
    border: 1px solid #e0e0e0
    display: table
    +border-radius(3px)
    a
      width: 51px
      display: table-cell
      vertical-align: middle
      text-align: center
      color: gainsboro
      font-family: "Avenir LT Std"
      font-size: 16px
      font-weight: 300
      border-left: 1px solid #e0e0e0
      text-decoration: none
      +box-sizing()
      +transition(all, 0.2s, ease-in-out)
      &:first-child
        border-left: none
      .icon-pagination-left
        color: #bbc3c9
        font-size: 10px
        display: block
        padding-top: 1px
        +transition(all, 0.2s, ease-in-out)
        &.active
          color: #5b5b5b
      .icon-pagination-right
        color: #bbc3c9
        font-size: 10px
        &.active
          color: #5b5b5b
      &.page
        padding-top: 3px
      &.active
        color: #575757
        .icon-pagination-left
          color: #5b5b5b
      &:hover
        color: #575757
        background-color: #f0f0f6
        .icon-pagination-left
          color: #5b5b5b

// emails

.table-container
  margin-top: 32px
  .table
    overflow-x: auto
    width: 100%
    .button-wrap
      display: table-cell
      padding-right: 26px
      padding-left: 26px
      padding-top: 5px
      vertical-align: middle
    table
      border-collapse: collapse
      width: 100%
      max-width: 100%
      table-layout: fixed
      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd
      th, td
        border-left: 1px solid rgba(221, 221, 221, 0.47)
      th:first-child, td:first-child, th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3), th:nth-child(7), td:nth-child(7)
        border-left: none
      thead
        tr
          height: 64px
          th
            color: #515151
            font-family: "Montserrat Regular"
            font-size: 14px
            font-weight: 400
            text-align: left
            padding-left: 18px
            padding-top: 8px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            +box-sizing()
            &.cell-50
              width: 50px
            &.cell-30
              width: 30px
              padding-left: 0
            &.cell-150
              width: 150px
            &.cell-200
              width: 200px
            &.cell-300
              width: 300px
            &.cell-45
              width: 45px
            &.cell-all
              min-width: 100%
            &.cell-content
              width: 100%
            &.cell-filename
              width: 150px
      tbody
        tr
          height: 44px
          &:nth-child(2n+1)
            background-color: #f7f7f9
          &:nth-child(1)
            background-color: #eaeaee
          td
            color: #575757
            font-family: "Roboto"
            padding-left: 18px
            padding-right: 18px
            font-size: 14px
            font-weight: 300
            line-height: 16px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            +box-sizing()
            &:nth-child(2)
              padding-left: 0
              overflow: visible
            .icon-delete
              color: #e44d4d
              cursor: pointer

.table-operation-container
  padding-top: 25px
  padding-left: 15px
  +box-sizing()
  .count-to-delete
    font-family: "Roboto"
    font-size: 14px
    font-weight: 300
    line-height: 16px
    text-decoration: none
    .count
      color: #575757
    .title
      color: #979797
      padding-left: 5px
      +transition(all, 0.2s, ease-in-out)
    .icon-delete
      color: #9e9e9e
      padding-left: 10px
      +transition(all, 0.2s, ease-in-out)
    &.active
      .title
        color: #5c5c5c
      .icon-delete
        color: #e44d4d

@media screen and (max-width: 1366px)
  .personal-information-wrap
    .personal-information-container
      width: 500px
      float: none
      margin-top: 32px
      margin-left: auto
      margin-right: auto
    .contact-reservations-container
      padding-left: 0
      margin-left: 0
    .personal-information-container
      padding-right: 0

@media screen and (max-width: 1024px)
  .main-container
    margin-left: 0
  .left-panel-container
    z-index: 10
    left: -227px
  .left-panel-activator-container
    display: block

@media screen and (min-width: 1500px)
  .table-container
    .table
      table
        thead
          tr
            th
              &.cell-150
                width: 200px
              &.cell-200
                width: 300px
              &.cell-300
                width: 400px

@media screen and (min-width: 1800px)
  .table-container
    .table
      table
        thead
          tr
            th
              &.cell-150
                width: 300px
              &.cell-200
                width: 400px
              &.cell-300
                width: 500px

@media screen and (max-width: 780px)
  .main-container
    margin-left: 0
    .main-header
      padding-left: 5px
      padding-right: 0
    .main-content
      padding-left: 5px
      padding-right: 5px
  .table-container
    .table
      table
        thead
          tr
            th
              &.cell-50
                width: 50px
              &.cell-30
                width: 30px
                padding-left: 0
              &.cell-150
                width: 150px
              &.cell-200
                width: 200px
              &.cell-300
                width: 300px
              &.cell-45
                width: 45px
              &.cell-all
                width: 300px

@media screen and (max-width: 520px)
  .personal-information-wrap
    .personal-information-container
      width: auto
      .personal-information
        .information
          tr
            td:first-child
              width: 80px
            td:last-child
              padding-left: 10px
  .main-container
    .main-content
      .menu-container
        .menu
          a
            padding-left: 5px
            padding-right: 5px

// Availability page

.filters-container
  margin-top: 32px
  .filters
    padding-bottom: 30px
    background-color: white
    border: 1px solid #d3d7df
    +box-sizing()
    +border-radius(3px)
    padding-bottom: 0
    header
      width: 100%
      padding-left: 20px
      border-top: 1px solid #ddd
      cursor: pointer
      +box-sizing()
      +user-select()
      &:first-child
        border-top: none
      h4
        width: 100%
        height: 67px
        display: table-cell
        vertical-align: middle
      .icon-opener
        font-size: 18px
        width: 18px
        height: 18px
        margin-left: 8px
        position: absolute
        margin-top: 4px
        display: inline-block
        +transition(all, 0.2s, ease-in-out)
    &.active
      .filter-list-wrap
        display: block
      .icon-opener
        +transform(rotateZ(90deg))
    .filter-list-wrap
      height: 0
      width: 100%
      overflow: hidden
      +box-sizing()
      .filter-list
        border-top: 1px solid #ddd
        +box-sizing()
        label
          display: block
          padding-left: 20px
          padding-right: 20px
          width: 25%
          float: left
          cursor: pointer
          padding-top: 15px
          +box-sizing()
          .label
            color: #515151
            font-family: "Montserrat Regular"
            font-size: 14px
            white-space: nowrap
            +user-select()
          .date-field
            border: 1px solid #e0e0e0
            margin-top: 6px
            display: table
            width: 100%
            +user-select()
            +border-radius(3px)
            .field-container
              display: table-cell
              input
                height: 35px                
                width: 100%
                padding: 10px
                color: #878787
                font-family: "Roboto"
                font-size: 14px
                font-weight: 300
                +box-sizing()
            .icon-container
              display: table-cell
              vertical-align: middle
              padding-left: 13px
              padding-right: 13px
              text-align: center
              border-left: 1px solid #e0e0e0
              +box-sizing()
              .icon-date
                color: #969696
                font-size: 18px
                +transition(all, 0.2s, ease-in-out)
          .select-field
            cursor: pointer
            border: 1px solid #e0e0e0
            margin-top: 6px
            display: table
            width: 100%
            position: relative
            +user-select()
            +border-radius(3px)
            .field-container
              display: table-cell
              width: 100%
              select
                cursor: pointer
                height: 35px
                width: 100%
                padding: 8px 10px
                color: #878787
                font-family: "Roboto"
                font-size: 14px
                padding-top: 8px
                font-weight: 300
                +box-sizing()
            .icon-container
              position: absolute
              background-color: white
              height: 100%
              display: block
              right: 0
              font-size: 8px
              color: #8a8a8a
              padding-right: 15px
              +box-sizing()
              .icon-select-arrow
                display: table-cell
                height: 35px
                vertical-align: middle
                +transition(all, 0.2s, ease-in-out)
          &:hover
            .date-field
              .icon-container
                .icon-date
                  color: #4a4a4a !important
            .select-field
              .icon-container
                .icon-select-arrow
                  color: #4a4a4a !important
      .buttons-container
        margin-top: 2px
        padding: 20px
        padding-bottom: 60px
        .button-wrap
          float: left
          margin-left: 10px
          &:first-child
            margin-left: 0

@media screen and (max-width: 900px)
  .filters-container
    .filters
      .filter-list-wrap
        .filter-list
          label
            width: 50%

@media screen and (max-width: 500px)
  .filters-container
    .filters
      .filter-list-wrap
        .filter-list
          label
            width: 100%

// Room tables

.room-table-container
  border: 1px solid #d3d7df
  background-color: white
  margin-top: 30px
  padding-left: 20px
  padding-right: 20px
  +border-radius(3px)
  header
    height: 72px
    display: table
    width: 100%
    position: relative
    padding-left: 122px
    +box-sizing()
    h3
      display: table-cell
      vertical-align: middle
      color: #656565
      font-family: "Avenir LT Std"
      font-size: 24px
      font-weight: 300
      text-align: center
      .icon-arrow-left, .icon-arrow-right
        font-size: 15px
        color: #858d9c
        cursor: pointer
        +user-select()
      .icon-arrow-left
        margin-right: 15px
      .icon-arrow-right
        margin-left: 15px
    .date-switcher
      display: table
      border: 1px solid #e0e0e0
      height: 32px
      position: absolute
      top: 15px
      left: 0
      +box-sizing()
      +border-radius(3px)
      a
        display: table-cell
        text-decoration: none
        color: #565c56
        text-align: center
        vertical-align: middle
        padding-left: 10px
        padding-right: 10px
        border-left: 1px solid #e0e0e0
        +transition(all, 0.2s, ease-in-out)
        &:first-child
          border-left: none
        &.active, &:hover
          background-color: #eaeaee
  .date-table-container
    border: 1px solid #ddd
    width: 100%
    overflow-y: hidden
    +border-radius(3px)
    .date-table
      width: 100%
      max-width: 100%
      background-color: white
      border-collapse: collapse
      +box-sizing()
      .month
        color: #ef4a4a
        font-family: "Montserrat Bold"
        font-size: 13px
        font-weight: 400
        text-align: center
        background-color: #f7f6f4
        border: none
        td
          height: 20px
          vertical-align: middle
      td
        &:first-child
          border-left: none
        &.sat, &.sun
          background-color: #f7f6f4
          color: #ef4a4a !important
        &.sun + td
          border-left: 1px dashed #858d9c !important
        &.month-border
          border-left: 3px solid #ffa1a1 !important
      .name-header
        height: 37px
        background-color: #f7f7f9
        color: #515151
        font-family: "Montserrat Bold"
        font-size: 14px
        font-weight: 400
      .header
        border-top: 1px solid #aeb4bf
        border-bottom: 1px solid #aeb4bf
        td
          border-left: 1px solid #ddd
          color: #656565
          font-family: "Avenir LT Std"
          font-weight: 300
          font-size: 10px
          text-align: center
          +box-sizing()
          &:first-child
            width: 100px
            border-left: none
          &:nth-child(2)
            border-color: #aeb4bf
          &:last-child
            width: 38px
          p
            padding: 3px
      .header-2
        background-color: #f7f6f4
        border-top: 1px solid #aeb4bf
        border-bottom: 1px solid #aeb4bf
        th
          padding: 12px 12px
          color: #656565
          font-family: "Avenir LT Std"
          font-size: 12px
          font-weight: 300
          border-left: 1px solid #ddd
          &:first-child
            width: 100px
            border-left: none
          &:nth-child(2)
            border-left: 1px solid #aeb4bf
      .header-3
        border-top: 1px solid #aeb4bf
        border-bottom: 1px solid #aeb4bf
        td
          border-left: 1px solid #ddd
          color: #656565
          font-family: "Avenir LT Std"
          font-weight: 300
          font-size: 14px
          text-align: center
          padding: 12px
          +box-sizing()
          &:first-child
            width: 100px
            border-left: none
          &:nth-child(2)
            border-color: #aeb4bf
          &:last-child
            width: 38px
          p
            padding: 3px
      tbody
        border-top: 1px solid #aeb4bf
        tr
          height: 37px
          border-top: 1px solid #ddd
          &:first-child
            border-top: none
          td
            width: auto
            border-left: 1px solid #ddd
            padding: 0
            +box-sizing()
            &:first-child
              width: 100px
              padding: 10px 30px 10px 10px
              white-space: nowrap
              color: #515151
              font-family: "Montserrat Bold"
              font-size: 13px
              font-weight: 400
            &:last-child[colspan="2"]
              min-width: 30px
            &.mark-title
              padding: 4px 0 4px 4px
              position: relative
              &:before
                content: ""
                display: block
                width: 100%
                height: 30px
                +border-radius(4px 0 0 4px)
              .title
                z-index: 3
                position: absolute
                font-family: "Avenir LT Std"
                color: white
                font-weight: 300
                padding: 3px 8px
                font-size: 13px 
                top: 50%
                left: 10px
                background-color: #515151
                +border-radius(3px)
                +transform(translateY(-50%))
              &.blue
                &:before
                  background-color: #8295aa
              &.orange
                &:before
                  background-color: #f5a623
            &.mark
              position: relative
              &:before
                content: ""
                display: block
                width: 100%
                height: 30px
              &.blue
                &:before
                  background-color: #8295aa
              &.orange
                &:before
                  background-color: #f5a623
            &.mark-end
              position: relative
              padding: 4px 4px 4px 0
              &:before
                content: ""
                display: block
                width: 100%
                height: 30px
                +border-radius(0 4px 4px 0)
              &.blue
                &:before
                  background-color: #8295aa
              &.orange
                &:before
                  background-color: #f5a623
            &.mark-single
              position: relative
              padding: 4px
              &:before
                content: ""
                display: block
                width: 100%
                height: 30px
                +border-radius(4px)
              .title
                z-index: 3
                position: absolute
                font-family: "Avenir LT Std"
                color: white
                font-weight: 300
                padding: 3px 8px
                font-size: 13px 
                top: 50%
                left: 10px
                background-color: #515151
                +border-radius(3px)
                +transform(translateY(-50%))
              &.blue
                &:before
                  background-color: #8295aa
            .count
              position: absolute
              height: 19px
              width: 19px
              display: inline-block
              background-color: #7ed321
              border: 2px solid white
              top: 50%
              left: 50%
              color: white
              font-family: "Montserrat Bold"
              font-size: 12px
              font-weight: 700
              text-align: center
              padding-left: 1px
              +box-sizing()
              +border-radius(50%)
              +transform(translateX(-50%) translateY(-50%))

@media screen and (max-width: 520px)
  .room-table-container
    header
      h3
        padding-top: 60px
        padding-bottom: 15px


// Email popup

.popup-filter
  background-color: rgba(74, 73, 74, 0.71)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999
  opacity: 0
  display: none
  +transition(all, 0.6s, ease-in-out)
  &.active
    opacity: 1

.popup-container
  position: fixed
  overflow-x: hidden
  overflow-y: auto
  width: 100%
  height: 100%
  z-index: 1000
  top: 0
  left: 0
  display: none
  opacity: 0
  +perspective(600px)
  +transform-style(preserve-3d)
  +transition(all, 0.6s, ease-in-out)
  &.active
    opacity: 1
    .popup-wrap
      .popup
        +transform(translateY(0) translateZ(0) rotateX(0))
  .popup-wrap
    height: 100%
    display: table
    padding-top: 30px
    padding-bottom: 30px
    .popup
      z-index: 1000
      position: relative
      padding-left: 20%
      padding-right: 20%
      height: 100%
      display: table-cell
      vertical-align: middle
      +transform(translateY(-50%) translateZ(-300px) rotateX(30deg))
      +transition(all, 0.6s, ease-in-out)
      header
        h4
          text-align: left
        .popup-close-activator
          cursor: pointer
          &:hover
            .icon-delete
              color: #4a4a4a
        .button-wrap
          display: table-cell
          padding-right: 26px
          padding-left: 26px
          padding-top: 5px
          vertical-align: middle
          +user-select()
          .icon-delete
            font-size: 16px
            cursor: pointer
            color: #bbc3c9
            +transition(all, 0.2s, ease-in-out)
      .params-panel
        border-top: 1px solid #ddd
        padding: 12px 96px 10px 60px
        display: table
        width: 100%
        +box-sizing()
        .panel-row
          display: table-row
          .title
            display: table-cell
            text-align: right
            vertical-align: middle
            padding-top: 10px
            padding-bottom: 10px
            color: #515151
            font-family: "Montserrat Regular"
            font-size: 14px
            font-weight: 400
            line-height: 18px
            +user-select()
          .content
            padding-top: 10px
            padding-bottom: 10px
            text-align: left
            padding-left: 48px
            display: table-cell
            color: #878787
            font-family: "Roboto"
            font-size: 14px
            font-weight: 300
            .select-container, .input-container
              max-width: 251px
              height: 35px
            textarea
              border: 1px solid #e0e0e0
              display: block
              width: 100%
              max-width: 1200px
              min-height: 250px
              padding: 10px 10px
              color: #878787
              font-family: "Roboto"
              font-size: 14px
              font-weight: 300
              line-height: 23px
              resize: vertical
              +border-radius(3px)
              +box-sizing()
              +placeholder
                color: #bbc3c9
            .edit-container
              float: left
              border: 1px solid #e0e0e0
              border-radius: 3px
              display: table
              margin-right: 10px
              +user-select()
              +box-sizing()
              +border-radius(3px)
              &:first-child
                margin-left: 0
              .edit
                cursor: pointer
                color: #858d9c
                display: table-cell
                width: 35px
                height: 30px
                border-left: 1px solid #e0e0e0
                vertical-align: middle
                text-align: center
                font-size: 12px
                +transition(all, 0.2s, ease-in-out)
                +box-sizing()
                &:first-child
                  border-left: none
                &:hover
                  background-color: #f0f0f6
                  color: #5b5b5b
            .attach-container
              color: #219d82
              display: table
              cursor: pointer
              .icon-attach
                display: table-cell
                vertical-align: middle
                font-size: 22px
              .description
                padding-top: 3px
                padding-left: 10px
                display: table-cell
                vertical-align: middle
                font-family: "Avenir LT Std"
                font-size: 14px
            .button-container
              margin-top: 5px

@media screen and (min-width: 1200px) and (max-width: 1600px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 15%
        padding-right: 15%

@media screen and (min-width: 992px) and (max-width: 1200px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 10%
        padding-right: 10%

@media screen and (min-width: 768px) and (max-width: 992px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 5%
        padding-right: 5%
        .params-panel
          padding: 12px 50px 10px 30px
          .panel-row
            .content
              padding-left: 30px

@media screen and (min-width: 480px) and (max-width: 768px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 30px
        padding-right: 30px
        .params-panel
          padding: 12px 35px 10px 20px
          .panel-row
            .content
              padding-left: 20px
              .edit-container
                margin-top: 10px

@media screen and (min-width: 320px) and (max-width: 480px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 15px
        padding-right: 15px
        .params-panel
          padding: 12px 30px 10px 20px
          .panel-row
            .title
              display: block
              text-align: left
            .content
              padding-left: 0
              clear: both
              display: block
              .edit-container
                margin-top: 10px
            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
              .content
                padding-top: 0
                padding-bottom: 0

@media screen and (min-width: 0) and (max-width: 320px)
  .popup-container
    .popup-wrap
      .popup
        padding-left: 10px
        padding-right: 10px
        .params-panel
          padding: 12px 20px 10px 20px
          .panel-row
            .title
              display: block
              text-align: left
            .content
              padding-left: 0
              clear: both
              display: block
              .edit-container
                margin-top: 10px
            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
              .content
                padding-top: 0
                padding-bottom: 0


// Add reservation page

.add-reservation
  margin-top: 20px
  padding-top: 45px
  padding-bottom: 130px
  form
    display: table
    padding-left: 15px
    padding-right: 15px
    width: 100%
    +box-sizing()
    label, .form-row
      display: table-row
      .title
        display: table-cell
        padding-top: 10px
        padding-bottom: 10px
        width: 40%
        text-align: right
        color: #515151
        font-family: "Montserrat Regular"
        font-size: 14px
        font-weight: 400
      .content
        padding-top: 10px
        padding-bottom: 10px
        display: table-cell
        padding-left: 30px
        text-align: left
        padding-right: 50px
        .date-field, .select-container
          width: 251px
        .area-container
          textarea
            width: 100%
            max-width: 413px
            height: 80px

@media screen and (min-width: 320px) and (max-width: 480px)
  .add-reservation
    form
      label, .form-row
        display: block
        .title
          text-align: left
          display: block
        .content
          display: block
          padding-left: 0
          padding-right: 5px

@media screen and (min-width: 0) and (max-width: 320px)
  .add-reservation
    form
      label, .form-row
        display: block
        .title
          text-align: left
          display: block
        .content
          display: block
          padding-left: 0
          padding-right: 5px

// Add lead page

.tab-box
  margin-top: 20px
  padding-bottom: 130px
  .menu-container-wrap
    height: 75px
    display: table
    width: 100%
    border-bottom: 1px solid #ddd
    .menu-container
      padding-left: 10px
      padding-right: 10px
      margin-top: 0 !important
      display: table-cell
      vertical-align: middle
      text-align: center
  .tab
    display: none
    opacity: 0
    +transition(all, 0.2s, ease-in-out)
    &.active
      display: block
      &.show
        opacity: 1
    form
      display: table
      padding-top: 30px
      padding-left: 15px
      padding-right: 15px
      width: 100%
      +box-sizing()
      label, .form-row
        display: table-row
        .title
          display: table-cell
          padding-top: 10px
          padding-bottom: 10px
          width: 40%
          text-align: right
          color: #515151
          font-family: "Montserrat Regular"
          font-size: 14px
          font-weight: 400
        .content
          padding-top: 10px
          padding-bottom: 10px
          display: table-cell
          padding-left: 30px
          text-align: left
          padding-right: 50px
          .date-field, .select-container, .input-field
            width: 251px
          .area-container
            textarea
              width: 100%
              max-width: 413px
              height: 80px

@media screen and (min-width: 320px) and (max-width: 480px)
  .tab-box
    .tab
      form
        label, .form-row
          display: block
          .title
            text-align: left
            display: block
          .content
            display: block
            padding-left: 0
            padding-right: 5px

@media screen and (min-width: 0) and (max-width: 320px)
  .tab-box
    .tab
      form
        label, .form-row
          display: block
          .title
            text-align: left
            display: block
          .content
            display: block
            padding-left: 0
            padding-right: 5px